<form action="action_page.php">
    <div class="content">
        <h1>Edit Doc</h1>
        <div>
            <!-- <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" /> -->
            <div class="terms-cl">
                <button class="edit-butt" (click)="rotateLeft()">Rotate left</button>
                <button class="edit-butt" (click)="rotateRight()">Rotate right</button>
                <button class="edit-butt" (click)="flipHorizontal()">Flip horizontal</button>
                <button class="edit-butt" (click)="flipVertical()">Flip vertical</button>
                <button class="edit-butt" (click)="toggleContainWithinAspectRatio()">{{containWithinAspectRatio?'Fill
                    Aspect
                    Ratio':'Contain
                    Within Aspect Ratio'}}</button>
                <button class="edit-butt" (click)="resetImage()">Reset image</button>
            </div>
            <div style="text-align: center; margin: 5% 1% 5% 0%;">
                <image-cropper [imageURL]="imageChangedEvent" [maintainAspectRatio]="true"
                    [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="4 / 3" [resizeToWidth]="256"
                    [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false"
                    [canvasRotation]="canvasRotation" [transform]="transform" [alignImage]="'left'"
                    [style.display]="showCropper ? null : 'none'" format="png" (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)"
                    (loadImageFailed)="loadImageFailed()"></image-cropper>
            </div>
        </div>
        <div class="terms-cl" style="float: right;width: 100%;padding-bottom: 20px;padding-top: 10px;">
            <button type="submit" class="registerbtn" (click)="onSubmitForm()">Update Doc</button>
        </div>
    </div>
</form>